
body {
	padding: 0;
	margin: 0;
}

main {
	width: auto;
	margin: auto;
	padding-left: 2em;
	padding-bottom: 4em;
}

nav {
	min-width: 100%;
	width: auto;
	background-color: blue;
}

h1 {
	font-size: 2.5em;
	color: red;
}

.graph-section {
	overflow: hidden;
	white-space: nowrap;
}

.graph__area {
	height: 425px;
	display: inline-block;

}

.y-axis {
	width:auto;
	height: 420px;
	padding-left: 1em;
	display: inline-block;
	vertical-align: top;
}

.y-axis__horizontal-section {
	width: auto;
	height: 80px;
	text-align: right;
}

.graph__right-side {
	width: 850px;
	height: 420px;
	display: inline-block;
	vertical-align: top;

}

.graph {
	/*background-color: #CCC;*/
	height: 400px;
	position: relative;
	z-index: -10;
	background-color: #DDD;
    padding-left: 5px;
    padding-top: 5px;
    box-shadow: 3px -3px 5px #555 inset;
}

.graph__bar {
	position: absolute;
	bottom: 1px;
	left: 50px;
	height: 100px;
	width: 40px;
	background-color: red;
	z-index: -12;
	box-shadow: 1px -1px 3px #555;
}

.x-axis {
	min-height: 20px;
	height: auto;
	max-height: 60px;
	width: 840px;
	margin: auto;
	overflow: auto;
}

.x-axis__section {
	display: inline-block;
	width: 135px;
	text-align: center;
	overflow: hidden;
	vertical-align: top;
}

#input-controls {
	display: inline-block;
	vertical-align: top;
	margin: auto 2em;
}

.label-input__area {
	margin: 20px auto;
}

.feed__header > div {
	display: inline-block;
}

.feed__filter-reset {
	float: right;
}

.feed__area {
	width: 600px;
    height: 400px;
    background-color: #DDD;
    padding-left: 5px;
    padding-top: 5px;
    box-shadow: 1px 1px 5px #555 inset;
    overflow-y: auto;
    margin: auto auto auto 4em;
}

.scroll__area {
	padding-right: 15px
}

.twitter-feed {
	padding: 2px;
}

.tweet {
	margin: 0px;
}

.tweet-box {
	padding: 12px;
	border-top: 1px solid #888;
}

.twitter-feed > .tweet-box:first-of-type {
	padding-top: 0px;
	border-top: 0px solid #888;
}

.twitter-feed > .tweet-box:last-of-type {
	padding-bottom: 0px;
	border-bottom: 0px solid #888;
}
